In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/Food_nut_sql.csv")

In [3]:
print(df.columns)

Index(['Food_Name', 'Energy_kJ', 'Protein_g', 'Fat_g', 'carbohydrate_g',
       'sugars_g', 'Sodium_Na_mg', 'Zinc_Zn_mg', 'Folate_ug',
       'Pyridoxine_B6_mg', 'Cobalamin_B12_ug', 'Vitamin_D3_ug', 'Vitamin_C_mg',
       'Vitamin_A_ug', 'Iron_Fe_mg', 'Calcium_Ca_mg', 'Selenium_Se_ug',
       'per_100g'],
      dtype='object')

In [6]:
nut_name = pd.DataFrame(data = df.columns, columns=['nutrient_name'])
nut_name

       nutrient_name
0          Food_Name
1          Energy_kJ
2          Protein_g
3              Fat_g
4     carbohydrate_g
5           sugars_g
6       Sodium_Na_mg
7         Zinc_Zn_mg
8          Folate_ug
9   Pyridoxine_B6_mg
10  Cobalamin_B12_ug
11     Vitamin_D3_ug
12      Vitamin_C_mg
13      Vitamin_A_ug
14        Iron_Fe_mg
15     Calcium_Ca_mg
16    Selenium_Se_ug
17          per_100g

In [9]:
nut_name.drop([0, 17], axis=0,inplace=True)
nut_name

       nutrient_name
1          Energy_kJ
2          Protein_g
3              Fat_g
4     carbohydrate_g
5           sugars_g
6       Sodium_Na_mg
7         Zinc_Zn_mg
8          Folate_ug
9   Pyridoxine_B6_mg
10  Cobalamin_B12_ug
11     Vitamin_D3_ug
12      Vitamin_C_mg
13      Vitamin_A_ug
14        Iron_Fe_mg
15     Calcium_Ca_mg
16    Selenium_Se_ug

In [10]:
nut_name['Nutrient_ID'] = nut_name.index
nut_name

       nutrient_name  Nutrient_ID
1          Energy_kJ            1
2          Protein_g            2
3              Fat_g            3
4     carbohydrate_g            4
5           sugars_g            5
6       Sodium_Na_mg            6
7         Zinc_Zn_mg            7
8          Folate_ug            8
9   Pyridoxine_B6_mg            9
10  Cobalamin_B12_ug           10
11     Vitamin_D3_ug           11
12      Vitamin_C_mg           12
13      Vitamin_A_ug           13
14        Iron_Fe_mg           14
15     Calcium_Ca_mg           15
16    Selenium_Se_ug           16

In [11]:
nut_name.to_csv('Nutrient_table.csv', encoding='utf-8', index=False)

#Food table

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1805 entries, 0 to 1804
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Food_Name         1805 non-null   object
 1   Energy_kJ         1805 non-null   object
 2   Protein_g         1805 non-null   float64
 3   Fat_g             1805 non-null   float64
 4   carbohydrate_g    1805 non-null   float64
 5   sugars_g          1805 non-null   float64
 6   Sodium_Na_mg      1805 non-null   object
 7   Zinc_Zn_mg        1805 non-null   float64
 8   Folate_ug         1805 non-null   object
 9   Pyridoxine_B6_mg  1805 non-null   float64
 10  Cobalamin_B12_ug  1805 non-null   float64
 11  Vitamin_D3_ug     1805 non-null   float64
 12  Vitamin_C_mg      1805 non-null   int64
 13  Vitamin_A_ug      1805 non-null   object
 14  Iron_Fe_mg        1805 non-null   float64
 15  Calcium_Ca_mg     1805 non-null   object
 16  Selenium_Se_ug    1805 non-null   object
 17  per_100g          1805 non-null   object
dtypes: float64(9), int64(1), object(8)
memory usage: 254.0+ KB

In [17]:
food_table = df[['Food_Name']]

In [23]:
food_table['food_ID'] = range(1, len(df) + 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
food_table

                                              Food_Name  food_ID
0                          Cardamom seed, dried, ground        1
1                         Chilli (chili), dried, ground        2
2                               Cinnamon, dried, ground        3
3                                 Cloves, dried, ground        4
4                         Coriander seed, dried, ground        5
...                                                 ...      ...
1800  Soup, chicken & noodle, cup of soup, prepared ...     1801
1801                           Glucose, liquid or syrup     1802
1802                                              Honey     1803
1803                                      Syrup, golden     1804
1804                                 Syrup, maple, pure     1805

[1805 rows x 2 columns]

In [25]:
df['food_ID'] = range(1, len(df) + 1)
df

,Food_Name,Energy_kJ,Protein_g,Fat_g,carbohydrate_g,sugars_g,Sodium_Na_mg,Zinc_Zn_mg,Folate_ug,Pyridoxine_B6_mg,Cobalamin_B12_ug,Vitamin_D3_ug,Vitamin_C_mg,Vitamin_A_ug,Iron_Fe_mg,Calcium_Ca_mg,Selenium_Se_ug,per_100g,food_ID
0,"Cardamom seed, dried, ground","1,236",10.8,6.7,34.4,4.4,18,7.47,3,0.23,0.0,0.0,21,4,13.97,383,11.7,per 100g,1
1,"Chilli (chili), dried, ground","1,280",13.4,14.3,14.9,7.2,"2,867",4.30,28,2.09,0.0,0.0,1,"2,500",17.30,330,20.4,per 100g,2
2,"Cinnamon, dried, ground","1,004",4.0,1.2,27.5,2.2,10,1.83,6,0.16,0.0,0.0,4,19,8.32,"1,002",3.1,per 100g,3
3,"Cloves, dried, ground","1,389",6.0,13.0,31.6,2.4,277,2.32,25,0.39,0.0,0.0,0,8,11.83,632,7.2,per 100g,4
4,"Coriander seed, dried, ground","1,344",12.4,17.8,8.4,2.4,35,4.70,0,0.04,0.0,0.0,21,20,16.32,709,26.2,per 100g,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1800,"Soup, chicken & noodle, cup of soup, prepared ...",80,0.7,0.2,3.5,0.4,444,0.00,1,0.01,0.0,0.0,0,0,0.10,5,0,per 100ml,1801
1801,"Glucose, liquid or syrup","1,762",0.0,0.0,121.6,45.9,208,0.00,0,0.00,0.0,0.0,0,0,0.70,11,0,per 100ml,1802
1802,Honey,"1,662",0.4,0.0,103.4,103.4,11,0.24,0,0.02,0.0,0.0,0,0,0.17,11,0,per 100ml,1803
1803,"Syrup, golden","1,732",0.4,0.0,107.8,107.8,187,0.00,0,0.27,0.0,0.0,0,0,4.75,331,1.2,per 100ml,1804
1804,"Syrup, maple, pure","1,439",0.0,0.1,89.1,80.4,16,1.96,0,0.00,0.0,0.0,0,0,0.15,136,0.8,per 100ml,1805

In [26]:
food_table.to_csv('food_table.csv', encoding='utf-8', index=False)

In [27]:
df.to_csv('food_nutrient.csv', encoding='utf-8', index=False)